html {
  scroll-behavior: smooth;
}

main {
  width: 80%;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.show-product-div img {
  width: 100px;
}

img {
  width: 200px;
}