html {
  scroll-behavior: smooth;
}

body {
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.show-product-div img {
  width: 100px;
}

img {
  width: 200px;
}

header {
  padding: 20px;
  background-color: lightgray;
}

header a {
  margin: 20px;
}